.subtitle_subject{
  padding: 0px 0px 12px 20px;
}

.subtitle_subject li{
  color: #2780e3 !important;
  font-size: 12px;
  padding: 6px 6px 6px 0px;
  border-bottom: 0px solid #ddd;
}

.subtitle_subject li{
  font-size: 12px;
}

.subtitle_subject li i{
  font-size: 12px;
}

.subtitle_subject li a{
  padding-left: 2px;
  padding-right: 2px;
  background: transparent;
  border: 0;
}

.subtitle_subject button{
    padding: 4px 6px;
    font-size: 12px;
}

table tbody tr td .statement {
    text-align: left;
    padding-left: 20px;
}
table tbody tr td .description  {
    text-align: left;
}

.padding-15-fluit{
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.s_small small{
  font-size: 80%;
}
.select_combobox
{
  position: relative;
}
.select_combobox .s_addquestion_dropdown_menu{
  top: 100%;
  right: auto;
  left: 18px;
}
